

.shelf-header {
  display: flex;
  align-items: center;
}

.header-button{
  margin: 5%;
}

.basic-button{
  margin: 10px;
}

.clickable-shelf{
  margin: 14px;
  cursor: pointer;
  color: turquoise;
  text-decoration: underline;
}